<div class="card mb-2">
    <div class="card-header bg-primary text-white">
        <h5> <i class="far fa-chart-bar" style="color:gold;"></i> Estadisticas</h5>
    </div>

    <div class="card-body">
        <p> <i class="fas fa-archive"></i>     Tesis: {{sidebar.stats.tesis}}</p>
        <p> <i class="far fa-eye"></i> Visitas: {{sidebar.stats.views}}</p>
        <p> <i class="far fa-thumbs-up"></i> Likes:  {{sidebar.stats.likes}}</p>
    </div>

</div>